<div class="container">
  <h2><%= @category.name %></h2>
  <% if @category.recipes.present? %>
    <% @category.recipes.each do |recipe|%>
    <div class="row py-3 py-sm-3 py-lg-1 ">
      <%=  render '/recipes/show_recipe_result', recipe: recipe %>
    </div>
    <% end %>
  <% else %>
    <div class="row py-3">
      <p>There are no recipes for <%= @category.name %> yet.</p>
    </div>
  <% end %>
</div>
