<h1>Search by ingredients</h1>
<h2>What's in your pantry?</h2>

<%= form_tag(search_path, :method => "get", id: "search-form") do %>
Filter Only these Ingredients 
	<%= check_box_tag  "specify", '1',false%>
	<br>
	<button class="addIngredient" type="button">+</button>
	<%= text_field_tag "ingredient[]" %>
	<%= submit_tag "Search" %>
<% end %>
