<div class="pagination-centered">
	<h1>Search by ingredients</h1>
	<h2>What's in your pantry?</h2>

	<%= form_tag(search_path, :method => "get", id: "search-form") do %>
	Filter Only these Ingredients
		<%= check_box_tag  "specify", '1',false%>
		<br>
		<div class="ingredient">
		    <a href="/" class="removeIngredient"><img src="https://image.flaticon.com/icons/png/512/54/54351.png
		"></a>
		    <input type="text" name="ingredient[]" id="ingredient_" autofocus>
	    </div>
		<div class="ingredient pb-4">
			<a href="/" class="addIngredient"><%= image_tag("https://image.flaticon.com/icons/png/128/54/54443.png") %></a>
		</div>
		<%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
	<% end %>
</div>
