<h2>Our Star Recipes!</h2>
<div class="most_favourite">
  <% Recipe.most_favourite.each do |recipe|  %>
      <%=  render 'show_recipe_partial', recipe: recipe %>
  <% end %>
</div>

<br>
<br><br>

<h2>Most Recent</h2>
<div class="recent">
  <% Recipe.recent.each do |recipe|  %>
    <%=  render 'show_recipe_partial', recipe: recipe %>
  <% end %>
</div>
<br>
<br><br>


<br>

<%= link_to 'New Recipe', new_recipe_path %>
