<div class="container">
  <h2>Our Star Recipes!</h2>
  <div class="row">
    <% Recipe.most_favourite.each do |recipe|  %>
      <div class="col-md-4">
        <%=  render 'show_recipe_partial', recipe: recipe %>
      </div>
    <% end %>
  </div>
</div>

<br><br>

<div class="container">
  <h2>Most Recent</h2>
  <div class="row">
    <% Recipe.recent.each do |recipe|  %>
      <div class="col-md-4">
        <%=  render 'show_recipe_partial', recipe: recipe %>
      </div>
    <% end %>
  </div>
</div>

  <br><br>
<div class="container">
  <h2>Most Viewed</h2>
  <div class="row">
  	<% Recipe.most_viewed.each do |recipe|%>
      <div class="col-md-4">
    		<%= render 'show_recipe_partial', recipe: recipe %>
      </div>
  	<% end %>
  </div>
</div>
<p>
<%= link_to 'New Recipe', new_recipe_path %>
</p>
