<% if @recipes.present? %>

<h1>Search Results</h1>
  <div>
    <% @recipes.each do |recipe| %>

    <%=  render 'show_recipe_partial', recipe: recipe %>

    <% end %>
  </div>

</div>
<% else %>
  <p>There are no recipes containing the term(s) <%= params[:search] %>.</p>
<% end %>
