// Reset all useful base variables
$green:       #40A84F !important;
$bread:       #C9AC68 !important;
$dark-green:  #175700;
$light-green: #96C53D;

$primary:     $green !important;

$display1-size:                2rem !important;
$font-family-sans-serif:       'Roboto Slab', "Times New Roman", Georgia, serif !important;
$heading-font:                 'Abril Fatface', cursive;

html {
min-height: 100%;
position: relative;
}

// Body elements
body {
  font-family:      $font-family-sans-serif;
}


a {
  color:          $green;

  &:hover {
    color:        $bread;
  }
}

#mary{
  main {

    a{
      color:          #C9AC68 !important;
      &:hover{
        color:        #96C53D !important;
      }

      &.userwelcome {
        color: $light-green !important;
      }
    }
  }

  footer {
    color: #FFF;
    background-color: $green;
    background: linear-gradient(to right, #40A84F, $light-green, $light-green, #40A84F); /* Standard syntax (must be last) */
    bottom: 0;
    font-size: 0.8rem;

    strong {
      text-transform: uppercase;
      color: #FFF;
      // font-family: $heading-font;
      margin-bottom: 1rem;
    }
    li{
      padding-bottom: 0.5rem !important;
    }

    .links{

      color: $dark-green !important;
      text-decoration: none;
      &:hover{
        color: $green;
      }
    }

  }
}

input[disabled] {
  border: 0 !important;
}

h1, h2, h3, h4, h6, .h3 {
  color: #C9AC68;
  font-family: $heading-font;
}

h1 {
  font-size: $display1-size;
}

h2 {
  padding-top: 1rem;
  font-size: $display4-size;
}

h5 {
  color: $green;
  font-size: 1.1rem;
  font-weight: bold;
}

h6 {
  color: $dark-green;
  font-size: 1.3rem;
}

.mt-6 {
  margin-top: 7rem;
  padding-top:1rem;
}

.mb-6 {
  margin-bottom: 27rem;
}

.result-img {
  min-width: 250px;

}

// Age verification div
.ui-dialog-titlebar {
  display: none;
}

.ui-widget-overlay {
 z-index: 1055 !important;
 background-color: rgba(30,30,30,0.8) !important;
 opacity: 1 !important;
}

// append class to body when overlay is on
.noscroll {
  overflow: hidden;
}


// navigations
.navbar {
  width: 100%;
  background: $gray-100;

  @media(max-width: 34em) {
    background: #40A84F !important;

    //search bar button
    .btn-outline-success{
      color: #FFF !important;
      border-color: #FFF;
      &:hover{
        background-color: #96C53D !important;
      }
    }
  }

  .navbar-brand{
    img:first-child {
      @include media-breakpoint-down(sm) {
        display: none !important;
      }
    }
  }


  .navbar-toggler {
    cursor: pointer;
    outline: 0;
  }

  .nav-link {
    text-transform: uppercase;
    font-weight: bold;
  }

  .nav-item {
    padding: 0;

    .nav-link {
      @media(max-width: 34em) {
        font-weight: normal;
        color: #FFF !important;
        &:hover{
          color: #96C53D !important;
        }
      }

    }
  }
}

nav{
  background: $gray-100;

  .dropdown-item {
    &:hover {
      background-color: #FFF !important;
      color: $bread !important;
    }
  }
}

// Autocomplete UI
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px $green;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px $bread;
    margin: 0;
    padding: 0;
    div {
      color: #000;
      display: block;
      padding: 3px;
    }
    div.ui-state-hover, div.ui-state-active {
      background-color: #96C53D;
      border-top: solid 1px #96C53D;
      border-bottom: solid 1px #96C53D;
    }
  }
}
.ui-helper-hidden-accessible { display:none; }
.ui-autocomplete { height: 200px;
   overflow-y: scroll;
   overflow-x: hidden;}

.strain-effects {
  font-size: 1.5rem;
}

.strain-show {
  display: inline-block;
  width: 20rem;
}


//Error messages
#notice {
 color: green;
}

.field_with_errors {
 padding: 2px;
 border: 2px #F7714C solid;
 display: table;
}

#error_explanation {
  color: $bread;
 width: 450px;
 border: 2px solid #F7714C;
 padding: 7px 7px 0;
 margin-bottom: 20px;
}

// flash notices
.notice{
  background-color: $light-green;
  color: #FFF;
  padding:0;
  margin: auto;
  text-align: center;
  z-index: 1020 !important;
  position: fixed;
  top: 7.3rem;
  opacity: 0.9;

}

.alert {
  @extend .notice;
  background-color: $bread;
}


// Forms
.avatar-thumb {
  max-width: 50px;
  height: auto;
}

// Static page styles
// About the team image zoom on hover

.team-person-image {
  position: relative;
  margin: 2%;
  overflow: hidden;
}
.team-person-image img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.team-person-image:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.team-person-info{
  a, a:hover {
    text-decoration: none;
  }
}

// icons
i.icon{
  font-size: 32px;
  color: $dark-green;
  a:hover & {
    color: $light-green;
  }
}

.icon {
  transition: .5s;
  fill: $dark-green;
  @extend .mr-1;

  a:hover & {
  fill: $light-green;
  }
}
