.addIngredient, .removeIngredient{
	img{
		width: 45px;
		height: 45px;
	}

}
.ingredient{
	margin: 5px 0;
}
.ingredient_{
  @extend .form-control, .col-10, .col-sm-10, .col-md-4, .d-inline;
	transition: all 0.2s ease-in-out;
	border-radius: 10px;
	&:hover{
		border-color: $green;
	}
}
