.addIngredient, .removeIngredient{
	img{
		width:50px;
		heght:50px;
	}

}
.ingredient{
	margin:5px 0;
}
#ingredient_{
	border-color:transparent;
	transition: all 0.2s ease-in-out;
	border-radius: 10px;
	&:hover{

		border-color:#45f442;
	}
}