// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Carousel css
.overlay{
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	background-color:gainsboro;
	opacity: 0.2;
	top:0;
}
.carousel-caption > a{
  text-shadow: rgba(64, 39, 7, 0.85) 2px 2px 5px;
	text-decoration:none;
	h3:hover{
		transition: all .2s ease-in-out;
		transform: scale(1.1);
	}
}

//Recipes show page
.favourite,.unfavourite{
  font-size: 35px;
	display:inline;
}
.unfavourite{
  @extend .ion-android-favorite;
	// content:url("heart-filled.png");
}
.favourite{
  @extend .ion-android-favorite-outline;

	// content:url("like.png");
}


ol{
	padding-top:10px;
    li{
    	margin-bottom:5px;
    }
}
.extra-info{
	padding-top:2%;
	border-radius:25px;
	border-color: gainsboro;
}
.recipe-ingredients{
	padding: 1em 1em;
	border: 1px solid #e9ecef;
    border-radius: 25px;
}
.build{
	margin-top:3%;
	margin-bottom:3%;
}
.find-dispensaries{
	colour:white;
}
.description{

	padding:0 10px;
}
.recommended-strain{
	margin-bottom:7%;
}
.author{
	margin-top:10px;
}

.social-share-button, .rating{
	padding: 0 1em;
}
.social-share-button{
	display:inline;
}


h3{
	padding-left:0px !important;
}

div > img{
	width:100%;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size:1rem;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color:#f2ee87;
}
.rated:before, .rated ~ span:before{
	content: "\2605";
	position: absolute;
	color:#f2ee87;
}
.rated:before{
	left:0;
	transform: scaleX(-1);
	overflow:hidden;

}
.video{
	margin-bottom: 2em;
}

.review{
	border: 1px solid #96C53D;
	padding: 1em 1em;
	border-radius:1em;
}
.poster{
	padding-bottom:1em;
	border-bottom: 1px solid #96C53D;
}
