// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.overlay{
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	background-color:gainsboro;
	opacity: 0.2;
	top:0;
}
.carousel-caption > a{
  text-shadow: rgba(64, 39, 7, 0.85) 2px 2px 5px;
	text-decoration:none;
	h3:hover{
		transition: all .2s ease-in-out;
		transform: scale(1.1);
	}
}
//Recipes show page
.favourite,.unfavourite{
	width:25px;
	height:100%;
}
.unfavourite{
	content:url("https://image.flaticon.com/icons/png/512/148/148836.png");
}
.favourite{
	content:url("https://image.flaticon.com/icons/svg/149/149217.svg");
}
.social-media{
	margin-top:6%;
	display:inline-block;
	vertical-align:middle;
}
.ul{
	padding-top:10px;
	border: 1px solid gainsboro;
    border-radius: 5%;
    li{
    	margin-bottom:5px;
    }
}
.extra-info{
	border-radius:25px;
	border-color: gainsboro;
}
.recipe-ingredients{
	padding-top:10px;
	padding-left:10px;
	border: 1px solid #e9ecef;
    border-radius: 25px;
}
.build{
	margin-top:1%;
	margin-bottom:1%;
}

.recommended-strain{
	margin-bottom:2%;
}
.author{
	margin-top:10px;
}
// .comment{
// 	width:500px;
// }
h3{
	padding-left:0px !important;
}
h5{
	text-decoration:underline;
}

div > img, .img-fluid{
	width:100%;
}
